form.game
  - for (let i = 0; i < 9; i++)
    input(type="checkbox" id=`x-${i}`)
    - const x = i % 3
    - const y = Math.floor(i / 3)
    svg.x(style=`--x: ${x}; --y: ${y};` viewBox="0 0 100 100")
      path.cross(d="M 80 20 L 20 80" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="100" stroke-dashoffset="100")
      path.cross(d="M 20 20 L 80 80" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="100" stroke-dashoffset="100")
    input(type="checkbox" id=`o-${i}`)
    svg.o(style=`--x: ${x}; --y: ${y};` viewBox="0 0 100 100")
      circle(cx="50" cy="50" r="30" fill="none" stroke-width="10" stroke-linecap="round" stroke-dasharray="200" stroke-dashoffset="200")
  .board
    - const DELAYS = [0.75, 0.5, 1, 0.25]
    - for (let l = 0; l < 4; l++)
      - const rotate = l % 2
      - const shift = 2 % (l + 1) ? 1 : -1
      - const delay = DELAYS[l]
      svg.board__line(viewBox="0 0 10 300" style=`--rotate: ${rotate}; --shift: ${shift}; --delay: ${delay};`)
        path(d="M 5 5 L 5 295" stroke-width="10" stroke-linecap="round" stroke-dasharray="300" stroke-dashoffset="300")

    - for (let i = 0; i < 9; i++)
      .board__cell
        label(for=`x-${i}`)
        label(for=`o-${i}`)
  .game__result.game__result--x
    span X Wins!
    button(type="reset") Reset Board
  .game__result.game__result--o
    span O Wins!
    button(type="reset") Reset Board
  .game__result.game__result--draw
    span Draw...
    button(type="reset") Reset Board