form.game
  - for (let i = 0; i < 9; i++)
    - const x = i % 3
    - const y = Math.floor(i / 3)
    input(type='checkbox' id=`x-${i}`)
    .x(style=`--x: ${x}; --y: ${y}`) Cross
    input(type='checkbox' id=`o-${i}`)
    .o(style=`--x: ${x}; --y: ${y}`) Naught
  .board
    - for (let l = 0; l < 4; l++)
      svg.board__line(viewBox="0 0 10 300" style=`--rotate: ${rotate};`)
        path(d="M 5 5 L 5 295" stroke-width="10" stroke-linecap="round" stroke="black")
    - for (let i = 0; i < 9; i++)
      .board__cell
        label(for=`x-${i}`)
        label(for=`o-${i}`)
  .game__result.game__result--x X Wins!
  .game__result.game__result--o O Wins!
  .game__result.game__result--draw Draw...
  button(type='reset') Reset Board