form.game
  - for (let i = 0; i < 9; i++)
    input(type='checkbox' id=`x-${i}`)
    input(type='checkbox' id=`o-${i}`)
  .board
    - for (let i = 0; i < 9; i++)
      .board__cell
        label(for=`x-${i}`)= `Cross ${i}`
        label(for=`o-${i}`)= `Naught ${i}`